$lightGray: #f5f5f7;
$darkGray: #9f9f9f;
$nero: #1d1d1d;
$white: #ffffff;
$blue: #0f6eff;

$font1: "Poppins";
$bold1: 500;
$bold2: 600;
$bold3: 700;
$blod4: 800;
$fontXS: 0.7rem;
$fontS: 0.9rem;
$fontM: 1, 3rem;
$fontL: 1, 5rem;
$fontXL: 1.7rem;
$fontXXL: 2.3rem;
$margin1: 11.66vw;
