/** INSERT CUSTOM SCSS STYLES HERE **/
body {
  margin: 0;
  color: #1d1d1d;
  font-family: "Poppins";
  background-color: #f5f5f7;
  height: 200vh;
  position: relative;
}
body header {
  position: absolute;
  display: grid;
  justify-content: start;
  grid-template-areas: "wrapper wrapper contact contact";
}
body header .wrapper {
  grid-area: wrapper;
  background-color: #ffffff;
  width: 56.8vw;
  height: 120vh;
  display: grid;
  border-radius: 0 0 3.5rem 0;
  grid-template-rows: 20vh 35vh;
  grid-template-areas: "a " "b";
}
body header .wrapper .nav-container {
  font-size: 0.7rem;
  background-color: aqua;
  width: 50vw;
  height: 15vh;
  grid-area: a;
  display: flex;
  flex-direction: row;
  z-index: 200;
}
body header .wrapper .nav-container .logo {
  background-color: #f5f5f7;
  width: 11.66vw;
  height: 20.51vh;
  border-radius: 0 0 20% 0;
}
body header .wrapper .nav-container .navigation-list {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 40vw;
  height: 20vh;
  padding: 6vh 6vw;
  border-radius: 0 0 20px 20px;
}
body header .wrapper .nav-container .navigation-list .navigation-list_element {
  width: 7vw;
}
body header .wrapper .nav-container .navigation-list .navigation-list_element:first-child {
  font-weight: 700;
  color: #0f6eff;
}
body header .wrapper .intro {
  margin: 0 5vw 0 11.66vw;
  grid-area: b;
}
body header .wrapper .intro .title {
  margin-top: 5vh;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 125%;
}
body header .wrapper .intro .intro-text {
  padding-top: 5vh;
  font-size: 0.9rem;
  line-height: 115%;
}
body header .contact-section {
  display: grid;
  grid-template-rows: 15vh 45vh 1fr;
  width: 40vw;
  height: 80vh;
  background-color: brown;
  align-items: end;
}
body header .contact-section .contact-section_details {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 3vw 5vh 3vw;
}
body header .contact-section .contact-section_details .contact-section_details--btn {
  border: 1px solid #0f6eff;
  color: #0f6eff;
  padding: 5px 15px;
  border-radius: 50px;
  margin: 0 3vw;
}
body header .contact-section .contact-section_details .contact-section_details--lg {
  margin-left: 2vw;
}
body header .contact-section .contact-section_details .contact-section_details--phone {
  color: #0f6eff;
}
body header .contact-section .rectangle3 {
  grid-row: 2/3;
  width: 28vw;
  height: 38vh;
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: #9f9f9f;
  transform: scale(-1);
  margin: 0 0 2vh 7.5vw;
}
body .rectangle1 {
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: #9f9f9f;
  position: absolute;
  z-index: 50;
  width: 34vw;
  height: 43vh;
  transform: translate(35.7vw, 62vh);
}
body .rectangle2 {
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: #9f9f9f;
  position: absolute;
  z-index: 50;
  width: 30vw;
  height: 43vh;
  transform: translate(67.3vw, 70.5vh) rotate(-90deg);
}/*# sourceMappingURL=custom.css.map */