/** INSERT CUSTOM SCSS STYLES HERE **/
@import "./variables";
@import "./mixins";
body {
  margin: 0;
  color: $nero;
  font-family: $font1;
  background-color: $lightGray;
  height: 106vh;
  position: relative;
  header {
    position: absolute;
    //width: 99vw;
    display: grid;
    justify-content: start;
    grid-template-areas: "wrapper wrapper contact contact";

    .wrapper {
      //position: relative;
      grid-area: wrapper;
      background-color: $white;
      width: 57vw;
      height: 90vh;
      display: grid;
      border-radius: 0 0 2.6rem 0;
      grid-template-areas: "a ";
      //grid-template-rows: repeat(12, 1fr);
      //width: 100vw;
      //height: 100vh;

      .nav-container {
        font-size: 0.7rem;
        background-color: aqua;
        width: 50vw;
        height: 15vh;
        grid-area: a;
        display: flex;
        flex-direction: row;
        z-index: 200;
        .logo {
          background-color: $lightGray;
          width: 11vw;
          height: 20.7vh;
          border-radius: 0 0 20% 0;
        }
        .navigation-list {
          position: sticky;

          top: 0;
          display: flex;
          flex-direction: row;
        }
      }
    }
    .contact-section {
      justify-self: end;
      width: 30vw;
      height: 80vh;
      background-color: brown;
    }
  }
  .rectangle1 {
    @include rectangle;
    position: absolute;
    z-index: 50;
    width: 32.6%;
    height: 36%;
    transform: translate(35vw, 40vh);
  }
  .rectangle2 {
    @include rectangle;
    position: absolute;
    z-index: 50;
    width: 21.6%;
    height: 27.8%;
    transform: translate(65.5vw, 46.9vh) rotate(-90deg);
  }
}
