/** INSERT CUSTOM SCSS STYLES HERE **/
body {
  margin-bottom: 0;
  color: #1d1d1d;
  font-family: "Poppins";
  background-color: #f5f5f7;
  height: 200vh;
  display: flex;
  flex-direction: column;
}
body header {
  display: grid;
  justify-content: start;
  grid-template-areas: "wrapper wrapper contact contact";
}
body header .wrapper {
  grid-area: wrapper;
  background-color: #ffffff;
  width: 56.8vw;
  height: 120vh;
  display: grid;
  border-radius: 0 0 3.5rem 0;
  grid-template-rows: 20vh 35vh;
  grid-template-areas: "a" "b" "c" "d";
}
body header .wrapper .nav-container {
  font-size: 0.7rem;
  background-color: aqua;
  width: 50vw;
  height: 15vh;
  grid-area: a;
  display: flex;
  flex-direction: row;
  z-index: 200;
}
body header .wrapper .nav-container .logo {
  background-color: #f5f5f7;
  width: 11.66vw;
  height: 20.51vh;
  border-radius: 0 0 20% 0;
}
body header .wrapper .nav-container .logo .logo-text {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 5vh 5vw;
}
body header .wrapper .nav-container .navigation-list {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 40vw;
  height: 20vh;
  padding: 6vh 6vw;
  border-radius: 0 0 20px 20px;
}
body header .wrapper .nav-container .navigation-list .navigation-list_element {
  width: 7vw;
}
body header .wrapper .nav-container .navigation-list .navigation-list_element:first-child {
  font-weight: 700;
  color: #0f6eff;
}
body header .wrapper .intro {
  margin: 0 5vw 0 11.66vw;
  grid-area: b;
}
body header .wrapper .intro .title {
  margin-top: 5vh;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 125%;
}
body header .wrapper .intro .intro-text {
  padding-top: 5vh;
  font-size: 0.9rem;
  line-height: 115%;
  color: #9f9f9f;
}
body header .wrapper .play {
  grid-area: d;
  display: flex;
  flex-direction: row;
}
body header .wrapper .play .play-text {
  font-size: 0.9rem;
  width: 10vw;
  line-height: 115%;
  color: #0f6eff;
  transform: translate(8vw, 0);
}
body header .wrapper .play .play-element {
  width: 14vw;
  position: relative;
}
body header .wrapper .play .play-element .play-element_circle {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  border: 2px solid #0f6eff;
  transform: translate(10vw, -7vh);
}
body header .wrapper .play .play-element .play-element_circle .material-symbols-outlined {
  font-size: 9.5vw;
  font-weight: 100;
  color: #0f6eff;
  border: 0;
}
body header .wrapper .play .play-element .play-element_line {
  height: 1.5px;
  border-width: 0;
  background-color: #0f6eff;
  transform: translate(0, 3.5vh);
  color: #0f6eff;
}
body header .contact-section {
  display: grid;
  grid-template-rows: 15vh 45vh 1fr;
  width: 40vw;
  height: 80vh;
  background-color: #f5f5f7;
  align-items: end;
}
body header .contact-section .contact-section_details {
  display: flex;
  flex-direction: row;
  font-size: 0.7rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 3vw 5vh 5vw;
}
body header .contact-section .contact-section_details .contact-section_details--btn {
  border: 1px solid #0f6eff;
  color: #0f6eff;
  padding: 10px 20px;
  border-radius: 50px;
  margin-left: 3vw;
}
body header .contact-section .contact-section_details .contact-section_details--lg {
  margin-left: 2vw;
}
body header .contact-section .contact-section_details .contact-section_details--phone {
  color: #0f6eff;
}
body header .contact-section .contact-section_details .contact-section_details--call {
  color: #9f9f9f;
}
body header .contact-section .rectangle3 {
  grid-row: 2/3;
  width: 28vw;
  height: 38vh;
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: #9f9f9f;
  transform: scale(-1);
  margin: 0 0 5vh 7.5vw;
}
body .rectangle1 {
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: #9f9f9f;
  position: absolute;
  z-index: 50;
  width: 34vw;
  height: 43vh;
  transform: translate(35.7vw, 62vh);
}
body .rectangle2 {
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: #9f9f9f;
  position: absolute;
  z-index: 50;
  width: 30vw;
  height: 43vh;
  transform: translate(67.3vw, 70.5vh) rotate(-90deg);
}
body .circle-element {
  position: absolute;
  width: 18vw;
  height: 18vw;
  transform: translate(73.5vw, 110vh);
  z-index: 200;
}
body .circle-element .circle-element_circle {
  width: 18vw;
  height: 18vw;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
body .circle-element .circle-element_circle .circle-element_circle--dot {
  width: 1vw;
  height: 1vw;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  background-color: #0f6eff;
  transform: translate(6.5vw, 38vh);
}
body .circle-element .circle-element_line {
  height: 1.5px;
  border-width: 0;
  color: #0f6eff;
  background-color: #ffffff;
  transform: translate(-9vw, 20vh);
}
body footer {
  display: grid;
  grid-template-areas: "blog br br br" "tiles tiles tiles tiles";
  margin: 12vh 0 0 11.66vw;
}
body footer .blog-heading {
  grid-area: blog;
  font-size: 0.7rem;
  color: #0f6eff;
}
body footer .blog-text {
  margin-top: 4vh;
  grid-area: blog;
  font-size: 1.5rem;
  font-weight: 600;
}
body footer .blog-line {
  grid-column: 2/3;
  height: 1.5px;
  border-width: 0;
  align-self: center;
  width: 15vw;
  color: #0f6eff;
  background-color: #0f6eff;
}
body footer .tiles {
  position: relative;
  grid-area: tiles;
  display: flex;
  flex-direction: row;
}
body footer .tiles .small-circle {
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  height: 7.5vw;
  width: 7.5vw;
  z-index: -100;
  transform: translate(-5vw, 12vh);
}
body footer .tiles .tile-line {
  position: absolute;
  height: 1px;
  width: 15vw;
  color: #ffffff;
  background-color: #ffffff;
  transform: translate(-13vw, 50vh);
}
body footer .tiles .tile1 {
  border-radius: 19% 19% 0 19%;
  padding: 3vw;
  height: 55vh;
  width: 20vw;
  margin: 12vh 3vw 10vh 0;
  background-color: #1d1d1d;
}
body footer .tiles .tile1 .tile1_comment-author {
  font-size: 0.7rem;
  color: #ffffff;
}
body footer .tiles .tile1 .tile1_comment-date {
  margin-top: 1.5vh;
  font-size: 0.7rem;
  color: #9f9f9f;
}
body footer .tiles .tile1 .tile1_comment-heading {
  margin-top: 2vh;
  font-size: 0.9rem;
  color: #ffffff;
  line-height: 200%;
}
body footer .tiles .tile1 .tile1_comment-circle {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  width: 4.5vw;
  height: 4.5vw;
  color: #ffffff;
  font-size: 2vh;
  text-align: center;
  padding: 3.5vh 0;
  margin-top: 5vh;
}
body footer .tiles .tile1 .tile1_comment-circle:first-letter {
  text-decoration: underline;
}
body footer .tiles .tile2 {
  border-radius: 19% 19% 0 19%;
  padding: 3vw;
  height: 55vh;
  width: 20vw;
  margin: 12vh 3vw 10vh 0;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3vh;
  grid-template-areas: "w x x x x" "w y y y y" "z z z z z" "v v v v v" "u u u u u";
}
body footer .tiles .tile2 .comment-circle {
  grid-area: w;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  background-color: #9f9f9f;
  width: 3vw;
  height: 3vw;
  padding-right: 0;
}
body footer .tiles .tile2 .comment-author {
  grid-area: x;
  font-size: 0.7rem;
  font-weight: 600;
  color: #1d1d1d;
}
body footer .tiles .tile2 .comment-date {
  grid-area: y;
  font-size: 0.7rem;
  color: #9f9f9f;
  margin-bottom: 2vh;
}
body footer .tiles .tile2 .comment-heading {
  grid-area: z;
  font-size: 0.7rem;
  font-weight: 600;
  color: #1d1d1d;
  border-top: solid 1px #9f9f9f;
  padding-top: 2vh;
}
body footer .tiles .tile2 .comment-text {
  grid-area: v;
  font-size: 0.7rem;
  color: #1d1d1d;
}
body footer .tiles .tile2 .comment-more {
  grid-area: u;
  font-size: 0.7rem;
  color: #0f6eff;
  text-decoration: underline;
}
body footer .tiles .tile3 {
  border-radius: 19% 19% 0 19%;
  padding: 3vw;
  height: 55vh;
  width: 20vw;
  margin: 12vh 3vw 10vh 0;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3vh;
  grid-template-areas: "w x x x x" "w y y y y" "z z z z z" "v v v v v" "u u u u u";
}
body footer .tiles .tile3 .comment-circle {
  grid-area: w;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  background-color: #9f9f9f;
  width: 3vw;
  height: 3vw;
  padding-right: 0;
}
body footer .tiles .tile3 .comment-author {
  grid-area: x;
  font-size: 0.7rem;
  font-weight: 600;
  color: #1d1d1d;
}
body footer .tiles .tile3 .comment-date {
  grid-area: y;
  font-size: 0.7rem;
  color: #9f9f9f;
  margin-bottom: 2vh;
}
body footer .tiles .tile3 .comment-heading {
  grid-area: z;
  font-size: 0.7rem;
  font-weight: 600;
  color: #1d1d1d;
  border-top: solid 1px #9f9f9f;
  padding-top: 2vh;
}
body footer .tiles .tile3 .comment-text {
  grid-area: v;
  font-size: 0.7rem;
  color: #1d1d1d;
}
body footer .tiles .tile3 .comment-more {
  grid-area: u;
  font-size: 0.7rem;
  color: #0f6eff;
  text-decoration: underline;
}
body footer .tiles .tile4 {
  border-radius: 19% 19% 0 19%;
  padding: 3vw;
  height: 55vh;
  width: 20vw;
  margin: 12vh 3vw 10vh 0;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3vh;
  grid-template-areas: "w x x x x" "w y y y y" "z z z z z" "v v v v v" "u u u u u";
}
body footer .tiles .tile4 .comment-circle {
  grid-area: w;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  background-color: #9f9f9f;
  width: 3vw;
  height: 3vw;
  padding-right: 0;
}
body footer .tiles .tile4 .comment-author {
  grid-area: x;
  font-size: 0.7rem;
  font-weight: 600;
  color: #1d1d1d;
}
body footer .tiles .tile4 .comment-date {
  grid-area: y;
  font-size: 0.7rem;
  color: #9f9f9f;
  margin-bottom: 2vh;
}
body footer .tiles .tile4 .comment-heading {
  grid-area: z;
  font-size: 0.7rem;
  font-weight: 600;
  color: #1d1d1d;
  border-top: solid 1px #9f9f9f;
  padding-top: 2vh;
}
body footer .tiles .tile4 .comment-text {
  grid-area: v;
  font-size: 0.7rem;
  color: #1d1d1d;
}
body footer .tiles .tile4 .comment-more {
  grid-area: u;
  font-size: 0.7rem;
  color: #0f6eff;
  text-decoration: underline;
}/*# sourceMappingURL=custom.css.map */