/** INSERT CUSTOM SCSS STYLES HERE **/
@import "./variables";
@import "./mixins";
body {
  margin-bottom: 0;
  color: $nero;
  font-family: $font1;
  background-color: $lightGray;
  height: 200vh;
  display: flex;
  flex-direction: column;
  header {
    display: grid;
    justify-content: start;
    grid-template-areas: "wrapper wrapper contact contact";

    .wrapper {
      grid-area: wrapper;
      background-color: $white;
      width: 56.8vw;
      height: 120vh;
      display: grid;
      border-radius: 0 0 3.5rem 0;
      grid-template-rows: 20vh 35vh;
      grid-template-areas:
        "a"
        "b"
        "c"
        "d";

      .nav-container {
        font-size: 0.7rem;
        background-color: transparent;
        width: 50vw;
        height: 15vh;
        grid-area: a;
        display: flex;
        flex-direction: row;
        z-index: 200;
        .logo {
          background-color: $lightGray;
          width: $margin1;
          height: 20.51vh;
          border-radius: 0 0 20% 0;
          .logo-text {
            font-size: $fontM;
            font-weight: $bold2;
            margin: 5vh 5vw;
          }
        }
        .navigation-list {
          position: fixed;
          top: 0;
          display: flex;
          flex-direction: row;
          background-color: $white;
          width: 40vw;
          height: 20vh;
          padding: 6vh 6vw;
          border-radius: 0 0 20px 20px;
          .navigation-list_element {
            width: 7vw;
            &:first-child {
              font-weight: $bold3;
              color: $blue;
            }
          }
        }
      }
      .intro {
        margin: 0 5vw 0 $margin1;
        grid-area: b;
        .title {
          margin-top: 5vh;
          font-size: $fontXXL;
          font-weight: $bold2;
          line-height: 125%;
        }
        .intro-text {
          padding-top: 5vh;
          font-size: $fontS;
          line-height: 115%;
          color: $darkGray;
        }
      }
      .play {
        grid-area: d;
        display: flex;
        flex-direction: row;
        .play-text {
          font-size: $fontS;
          width: 10vw;
          line-height: 115%;
          color: $blue;
          transform: translate(8vw, 0);
        }
        .play-element {
          width: 14vw;
          position: relative;

          .play-element_circle {
            @include circle;
            width: 10vw;
            height: 10vw;
            border: 2px solid $blue;
            transform: translate(10vw, -7vh);
            .material-symbols-outlined {
              font-size: 9.5vw;
              font-weight: 100;
              color: $blue;
              border: 0;
            }
          }
          .play-element_line {
            @include line;
            background-color: $blue;
            transform: translate(0, 3.5vh);
            color: $blue;
          }
        }
      }
    }
    .contact-section {
      display: grid;
      grid-template-rows: 15vh 45vh 1fr;

      width: 40vw;
      height: 80vh;
      background-color: $lightGray;
      align-items: end;
      .contact-section_details {
        display: flex;
        flex-direction: row;
        font-size: $fontXS;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 3vw 5vh 5vw;

        .contact-section_details--btn {
          border: 1px solid $blue;
          color: $blue;
          padding: 10px 20px;
          border-radius: 50px;
          margin-left: 3vw;
        }
        .contact-section_details--lg {
          margin-left: 2vw;
        }
        .contact-section_details--phone {
          color: $blue;
        }
        .contact-section_details--call {
          color: $darkGray;
        }
      }
      .rectangle3 {
        grid-row: 2/3;
        width: 28vw;
        height: 38vh;
        @include rectangle;
        transform: scale(-1);
        margin: 0 0 2vh 8.5svw;
      }
    }
  }
  .rectangle1 {
    @include rectangle;
    position: absolute;
    z-index: 50;
    width: 34vw;
    height: 43vh;
    transform: translate(35.7vw, 62vh);
  }
  .rectangle2 {
    @include rectangle;
    position: absolute;
    z-index: 50;
    width: 30vw;
    height: 43vh;
    transform: translate(67.3vw, 70.5vh) rotate(-90deg);
  }

  .circle-element {
    position: absolute;
    width: 18vw;
    height: 18vw;
    transform: translate(73.5vw, 110vh);
    z-index: 200;
    .circle-element_circle {
      width: 18vw;
      height: 18vw;
      @include circle;
      border: 2px solid $white;
      .circle-element_circle--dot {
        width: 1vw;
        height: 1vw;
        @include circle;
        background-color: $blue;
        transform: translate(6.5vw, 34.5vh);
      }
    }
    .circle-element_line {
      @include line;
      color: $blue;
      background-color: $white;
      transform: translate(-9vw, 20vh);
    }
  }
  footer {
    display: grid;
    grid-template-areas:
      "blog br br br"
      "tiles tiles tiles tiles";
    margin: 12vh 0 0 $margin1;
    .blog-heading {
      grid-area: blog;
      font-size: $fontXS;
      color: $blue;
    }
    .blog-text {
      margin-top: 4vh;
      grid-area: blog;
      font-size: $fontL;
      font-weight: $bold2;
    }
    .blog-line {
      grid-column: 2/3;
      @include line;
      align-self: center;
      width: 15vw;
      color: $blue;
      background-color: $blue;
      margin-left: 5vw;
    }

    .tiles {
      position: relative;
      grid-area: tiles;
      display: flex;
      flex-direction: row;
      .small-circle {
        @include circle2;
        background-color: $white;
        height: 7.5vw;
        width: 7.5vw;
        z-index: -100;
        transform: translate(-5vw, 12vh);
      }
      .tile-line {
        position: absolute;
        height: 1px;
        width: 15vw;
        color: $white;
        background-color: $white;
        transform: translate(-13vw, 50vh);
      }
      .tile1 {
        @include rectangle2;
        background-color: $nero;
        .tile1_comment-author {
          font-size: $fontXS;
          color: $white;
        }
        .tile1_comment-date {
          margin-top: 1.5vh;
          font-size: $fontXS;
          color: $darkGray;
        }
        .tile1_comment-heading {
          margin-top: 2vh;
          font-size: $fontS;
          color: $white;
          line-height: 200%;
        }
        .tile1_comment-circle {
          @include circle;
          border: 1.5px solid $white;
          width: 4.5vw;
          height: 4.5vw;
          color: $white;
          font-size: 2vh;
          text-align: center;
          padding: 3.5vh 0;
          margin-top: 5vh;
          &:first-letter {
            text-decoration: underline;
          }
        }
      }
      .tile2 {
        @include rectangle2;
        background-color: $white;
        @include tile;
      }
      .tile3 {
        @include rectangle2;
        background-color: $white;
        @include tile;
      }
      .tile4 {
        height: 20vh;
        width: 14vw;
        background-color: $white;
        margin: 12vh 3vw 10vh 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: transparent;

        .gray-dot {
          border-radius: 50%;
          width: 0.7vh;
          height: 0.7vh;
          margin: 4px;
          background-color: $darkGray;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  body {
    header {
      grid-template-areas:
        "wrapper"
        "contact";
      .wrapper {
        width: 100%;
        .nav-container {
          .logo {
            width: 30vw;
            height: 20.51vh;
            .logo-text {
              font-size: $fontXL;
            }
          }
          .navigation-list {
            position: static;
            width: 67vw;
            height: 25vh;
            flex-direction: column;
            flex-wrap: wrap;

            .navigation-list_element {
              width: 7vw;
              font-size: $fontL;
            }
          }
        }
        .intro {
          .intro-text {
            font-size: $fontL;
          }
        }
        .play {
          .play-text {
            font-size: $fontM;
            transform: translate(60vw, 4vh);
            z-index: 900;
          }
          .play-element {
            // width: 40vw;
            .play-element_circle {
              width: 30vw;
              height: 30vw;
              z-index: 900;
              transform: translate(35svw, 0);
              .material-symbols-outlined {
                font-size: 7rem;
              }
            }
            .play-element_line {
              transform: translate(0vw, 8vh);
              width: 45vw;
            }
          }
        }
      }
      .contact-section {
        width: 100%;
        height: 100%;
        padding: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        .contact-section_details {
          display: flex;
          flex-direction: column;
          align-items: center;

          .contact-section_details--btn {
            font-size: $fontXL;
            border: 2px solid $blue;
            margin-left: 0;
            margin-top: $padding5;
          }
          .contact-section_details--lg {
            margin-left: 0;
            padding-top: $padding5;
            font-size: $fontXL;
          }
          .contact-section_details--phone {
            color: $blue;
            font-size: $fontXL;
            padding-top: $padding5;
          }
          .contact-section_details--call {
            color: $darkGray;
            font-size: $fontXL;
            padding-top: $padding5;
          }
        }
        .rectangle3 {
          display: none;
        }
      }
    }
    .rectangle1 {
      display: none;
    }
    .rectangle2 {
      display: none;
    }
    .circle-element {
      .circle-element_circle {
        display: none;
      }
      .circle-element_line {
        color: $blue;
        background-color: $blue;
        transform: translate(-32vw, 60vh);
      }
    }
    footer {
      display: grid;
      grid-template-areas:
        "blog"
        "tiles"
        "tiles"
        "tiles"
        "tiles";
      .blog-heading {
        font-size: $fontM;
      }
      .blog-text {
        margin-top: 2vh;
      }
      .blog-line {
        display: none;
      }
      .tiles {
        flex-direction: column;
        .tile-line {
          display: none;
        }
        .tile1 {
          width: $width85;
          margin: 5vh 0 0 0;
          padding: 10%;
          .tile1_comment-circle {
            display: none;
          }
        }
        .tile2 {
          width: $width85;
        }
        .tile3 {
          width: $width85;
        }
        .tile4 {
          display: none;
          height: 5%;
          margin: 0;
        }
      }
    }
  }
}
