@import "./variables";
@mixin rectangle {
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: $darkGray;
}
@mixin rectangle2 {
  border-radius: 19% 19% 0 19%;
  padding: 3vw;
  height: 55vh;
  width: 20vw;
  margin: 12vh 3vw 10vh 0;
}
@mixin line {
  height: 1.5px;
  border-width: 0;
}
@mixin circle {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
}
@mixin author {
}
