@import "./variables";
@mixin rectangle {
  border-radius: 50px 50px 50px 0;
  padding: 20px;
  background-color: $darkGray;
}
@mixin rectangle2 {
  border-radius: 19% 19% 0 19%;
  padding: 3vw;
  height: 55vh;
  width: 20vw;
  margin: 12vh 3vw 10vh 0;
}
@mixin line {
  height: 1.7px;
  border-width: 0;
}
@mixin circle {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
}
@mixin circle2 {
  position: absolute;
  border-radius: 50%;
}
@mixin tile {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3vh;
  grid-template-areas:
    "w x x x x"
    "w y y y y"
    "z z z z z"
    "v v v v v"
    "u u u u u";
  .comment-circle {
    grid-area: w;
    @include circle;
    background-color: $darkGray;
    width: 3vw;
    height: 3vw;
    padding-right: 0;
  }
  .comment-author {
    grid-area: x;
    font-size: $fontXS;
    font-weight: $bold2;
    color: $nero;
  }
  .comment-date {
    grid-area: y;
    font-size: $fontXS;
    color: $darkGray;
    margin-bottom: $margin2;
  }
  .comment-heading {
    grid-area: z;
    font-size: $fontXS;
    font-weight: $bold2;
    color: $nero;
    border-top: solid 1px $darkGray;
    padding-top: $margin2;
  }
  .comment-text {
    grid-area: v;
    font-size: $fontXS;
    color: $nero;
  }
  .comment-more {
    grid-area: u;
    font-size: $fontXS;
    color: $blue;
    text-decoration: underline;
  }
  @media (max-width: 480px) {
    margin-bottom: 5%;
    padding: 5%;
    .comment-text {
      font-size: $fontS;
    }
    .comment-circle {
      width: 8vw;
      height: 8vw;
      margin-left: 7vw;
    }
  }
}
